- content_for :aside do
  .well
    %h3 Filters
    = form_tag '#' do |f|
      .control-group
        .controls
          = label_tag :numbers, class: 'checkbox' do
            = check_box_tag :numbers, true, true
            Numbers
      .control-group
        .controls
          = label_tag :hyphenated, class: 'checkbox' do
            = check_box_tag :hyphenated, true, true
            Hyphenated

      .control-group
        = label_tag :tld, nil, class: 'control-label'
        .controls= select_tag :tld, options_from_collection_for_select(Domain.values_for_filter(:tld), 'to_s', 'to_s'), include_blank: true

      = field_set_tag '# of char' do
        .control-group
          = label_tag :min, nil, class: 'control-label'
          .controls= text_field_tag :min
        .control-group
          = label_tag :max, nil, class: 'control-label'
          .controls= text_field_tag :max

%h1 Listing domains

- columns = Domain.attributes.keys
%table.table.table-striped.data_tables{data: {source: data_table_domains_path, columns: columns.to_s}}
  %thead
    %tr
      - columns.each do |c|
        %th= c.titleize

  %tbody
    %tr
      %td{colspan: columns.count}
        %p Wait while initializing....
