- content_for :aside do
  .well
    %h3 Import Domains
    = form_tag import_domains_path, multipart: true do |f|
      = label_tag :status
      = select_tag :status, options_from_collection_for_select(Domain::STATUS_LIST, 'to_s', 'to_s')
      = file_field_tag :file
      = submit_tag 'Import'

%h1 Listing domains

- columns = Domain.attributes.keys
%table.table.table-striped.data_tables{data: {source: data_table_domains_path, columns: columns.to_s}}
  %thead
    %tr
      - columns.each do |c|
        %th= c.titleize

  %tbody
    - @domains.each do |domain|
      %tr
        %td= domain.id
        %td= domain.min_bid
        %td= domain.release_date
        %td= domain.status
        %td= domain.end_date

%br

= link_to 'New Domain', new_domain_path
