- content_for :aside do
  .well
    %h3 Import Domains
    = form_tag import_domains_path, multipart: true do |f|
      = label_tag :status
      = select_tag :status, options_from_collection_for_select(Domain::STATUS_LIST, 'to_s', 'to_s')
      = file_field_tag :file
      = submit_tag 'Import'

%h1 Listing domains

%table.table.table-striped
  %tr
    %th Name
    %th Min bid
    %th Release date
    %th Auction end date
    %th Status
    %th
    %th
    %th

  - @domains.each do |domain|
    %tr
      %td= domain.name
      %td= domain.min_bid
      %td= domain.release_date
      %td= domain.end_date
      %td= domain.status
      %td= link_to 'Show', domain
      %td= link_to 'Edit', edit_domain_path(domain)
      %td= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Domain', new_domain_path
